* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #d1e7dd;
}

.container {
  display: flex;
  height: 100vh;
}

.topo-lateral {
  background-color: #e0e0e0; /* Fundo cinza claro */
  padding: 10px;
  display: flex;
  border-bottom: 1px solid #ccc;
  flex-direction: column;
  border-end-end-radius: 30px;
  border-end-start-radius: 30px;
}

.topo-lateral .user-info {
  display: flex;
  justify-content: flex-start;
}

.logo {
  width: 100px;
  margin-bottom: 10px;
  border-radius: 20%;
}

#btn-desconectar {
  background-color: transparent;
  border: none;
  font-size: medium;
  text-align: center;
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.icone-desconectar {
  margin-right: 5px;
  width: 20px;
}

.aba-lateral {
  width: 18%;
  background-color: white;
  color: black;
}

.menu ul {
  list-style: none;
  padding: 10px;
}

.menu li {
  margin-bottom: 20px;
}

.menu button {
  background-color: #60a429;
  color: #fff;
  border: none;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.menu button:hover {
  background-color: #000;
}

.conteudo-principal {
  width: 82%;
  padding: 30px;
  background-color: #60a429;
}

.conteudo-principal h1 {
  margin-bottom: 15px;
  text-align: center;
  color: white;
  font-size: 24px;
}

.canva {
  display: block;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.grupo-pessoas {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.pessoa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
