.event-list {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  margin-top: 20px; /* Adicionar margem entre o título e a tabela */
}

.event-list th,
.event-list td {
  padding: 12px; /* Ajuste de padding */
  text-align: left;
  border: 1px solid #ddd;
}

.event-list th {
  background-color: #4caf50;
  color: white;
}

.event-list td {
  font-size: 14px;
}

.event-list td:last-child {
  text-align: center; /* Alinhar o conteúdo ao centro da célula */
  display: flex;
  justify-content: center; /* Centraliza os ícones horizontalmente */
  align-items: center; /* Centraliza os ícones verticalmente */
  gap: 10px; /* Espaçamento entre os ícones */
  height: 100%; /* Garante que o flexbox ocupe toda a altura da célula */
}
.event-list .action-icons {
  margin-left: 10px; /* Espaçamento entre os ícones */
  width: 20px; /* Ajustar tamanho dos ícones */
  height: 20px;
  cursor: pointer;
}

.event-list .edit-icon {
  color: #ffc107;
}

.event-list .delete-icon {
  color: #f44336;
}
.action-icons {
  width: 24px; /* Ajuste o tamanho do ícone */
  height: 24px;
  cursor: pointer;
}

.edit-icon {
  margin-right: 10px; /* Espaçamento entre os ícones */
}
