* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #d1e7dd;
}

.container {
  display: flex;
  height: 100vh;
}

.aba-lateral {
  width: 18%;
  background-color: white;
  color: black;
}

.desconectar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 14px;
}
.topo-lateral {
  background-color: #e0e0e0; /* Fundo cinza claro */
  padding: 10px;
  display: flex;
  border-bottom: 1px solid #ccc;
  flex-direction: column;
  border-end-end-radius: 30px;
  border-end-start-radius: 30px;
}

.topo-lateral .user-info {
  display: flex;
  justify-content: flex-start;
}

.logo {
  width: 100px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 20%;
}

.topo-lateral button {
  background-color: transparent;
  border: none;
  font-size: medium;
  text-align: center;
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icone-desconectar {
  margin-right: 5px;
  width: 20px;
}

.menu ul {
  list-style: none;
  padding: 10px;
}

.menu li {
  margin-bottom: 20px;
}

.menu button {
  background-color: #60a429;
  color: #fff;
  border: none;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.menu button:hover {
  background-color: #000;
}

.content {
  width: 82%; /* Ajustar largura do conteúdo */
  padding: 30px; /* Diminuir padding */
  background-color: #60a429;
}

.content h1 {
  margin-bottom: 15px; /* Ajustar margem */
  text-align: center;
  color: white;
  font-size: 24px; /* Ajustar tamanho da fonte */
}

.event-list {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  margin-top: 20px; /* Adicionar margem entre o título e a tabela */
}

.event-list th,
.event-list td {
  padding: 12px; /* Ajuste de padding */
  text-align: left;
  border: 1px solid #ddd;
}

.event-list th {
  background-color: #4caf50;
  color: white;
}

.event-list td {
  font-size: 14px;
}

.event-list td:last-child {
  text-align: center; /* Alinhar o conteúdo ao centro da célula */
  display: flex;
  justify-content: center; /* Centraliza os ícones horizontalmente */
  align-items: center; /* Centraliza os ícones verticalmente */
  gap: 10px; /* Espaçamento entre os ícones */
  height: 100%; /* Garante que o flexbox ocupe toda a altura da célula */
}
.event-list .action-icons {
  margin-left: 10px; /* Espaçamento entre os ícones */
  width: 20px; /* Ajustar tamanho dos ícones */
  height: 20px;
  cursor: pointer;
}

.event-list .edit-icon {
  color: #ffc107;
}

.event-list .delete-icon {
  color: #f44336;
}
.action-icons {
  width: 24px; /* Ajuste o tamanho do ícone */
  height: 24px;
  cursor: pointer;
}

.edit-icon {
  margin-right: 10px; /* Espaçamento entre os ícones */
}
