body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e9f5e1;
}

.container {
    display: flex;
    height: 100vh;
}

.login {
    background-color: #72b445;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.login img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.login h2 {
    color: white;
    margin-bottom: 20px;
}

.login form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.login label {
    color: white;
    margin-bottom: 5px;
}

.login input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
}

.login button {
    padding: 10px;
    background-color: #4d8b2d;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login a {
    color: white;
    text-align: center;
    margin-top: 10px;
}

.welcome {
    background-color: white;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.welcome h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.welcome img {
    width: 300px;
    height: auto;
}
.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

.button-link:hover {
    background-color: #218838;
}