body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #4CAF50;
}

.container {
    display: flex;
    height: 100vh;
}

.login {
    background-color: #4CAF50;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.login img {
    margin-bottom: -25px;
    z-index: 3;
    width: 105px;
    height: auto;
}

.login h2 {
    color: white;
    margin-bottom: 20px;
}

.login form {
    display: flex;
    flex-direction: column;
    width: 55%;
    gap: 2px;
    background-color: white;
    padding: 22px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login label {
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 8px;
    display: block;
}

.login input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login button:hover {
    background-color: #218838;
}


.login a {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 10px;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.welcome {
    background-color: white;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.welcome h1 {
    font-size: 38px;
    color: #333;
    margin-bottom: 20px;
}

.welcome h1::before {
    position: absolute;
    content: '';
    width: 15%;
    background-color: #4CAF50;
    height: 5px;
    margin-top: 50px;
    border-radius: 10px;
}

.welcome img {
    max-width: 70%;
    
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

.button-link:hover {
    background-color: #218838;
}


@media (max-width: 600px) {
    .welcome {
        background-color: #4CAF50;
    }

    .welcome h1 {
        display: none;
    }

    .welcome img {
        display: none;
    }

    .login {
        background-color: #4CAF50;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }
    
    .login form {
        display: flex;
        flex-direction: column;
        width: 95%;
        gap: 2px;
        background-color: white;
        padding: 22px;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    body{
        display: flex;
        justify-content: center;
    }

}
